node_modules
.env.local
.next

# Terraform
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars
infrastructure/crash.log
infrastructure/crash.*.log

# SSH Keys
*.pem
*.key
!*.key.pub
